// Couleurs
$bluecolor: #002fa7;
$azurecolor: #bfd8e4;
$goldcolor: #a77800;
$whitecolor: #f4f7f5;
$blackcolor: #0f1108;

// Polices
$fonttitle: "Libre Baskerville", serif;
$fontbody: "Montserrat", sans-serif;

// Dimensions
$sizeh1: clamp(3rem, 3.55vw, 6rem);
$sizeh2: clamp(2rem, 2.37vw, 4rem);
$sizebody: 1.38vw;

// Ombres
$shadow2px: 2px 2px 2px $goldcolor;
$shadow5px: 5px 5px 5px $goldcolor;

// Marges
$main-margin: 3.125vw;

// Proportions
$golden-ratio: 1.618 / 1;
$golden-inverse: 1 / 1.618;

// Effets de transition
$transition: all 0.3s ease-out;

// Mixins
@mixin container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: $main-margin;
    position: relative;
    aspect-ratio: $golden-ratio;
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 960px) {
        aspect-ratio: $golden-inverse;
        height: 85vh;
        width: 100%;
    }
}

@mixin header-container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: $main-margin;
    position: relative;

    @media screen and (max-width: 960px) {
        width: 100%;
    }
}

@mixin content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@mixin screenshots {
    filter: drop-shadow($shadow5px);
    scale: 3.5;
    z-index: 6;
    border-radius: 0;
    border: none;
}

@mixin spiral_shape {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 960px) {
        height: auto;
        width: 100%;
        aspect-ratio: $golden-inverse;
    }
}

@mixin spiral__transformation--home {
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: center;
    width: 161%;
    height: auto;
}

@mixin spiral__transformation {
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
    height: auto;
    width: 161%;
}

.paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
}