$bluecolor: #002fa7;
$azurecolor: #bfd8e4;
$goldcolor: #a77800;
$whitecolor: #f4f7f5;
$blackcolor: #0f1108;

$fonttitle: "Libre Baskerville", serif;
$fontbody: "Montserrat", sans-serif;

$main-margin: 3.125vw;

$golden-ratio: 1.618 / 1;
$golden-inverse: 1 / 1.618;

@mixin container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: $main-margin;
}

@mixin spiral__transformation--home {
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: center;
    width: 161%;
    height: auto;
}

@mixin spiral__transformation {
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
    width: 161%;
    height: auto;
}