@use "../../styles/variables" as *;

.contact {
    background-color: $whitecolor;
    font-family: $fontbody;
    height: 90vh;

    @media screen and (max-width: 960px) {
        height: 100vh;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__container {
        @include container;
        position: relative;
        aspect-ratio: $golden-ratio;
        width: auto;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 960px) {
            aspect-ratio: $golden-inverse;
            height: 85vh;
            width: 100%;
        }
    }

    &__text {

        h1 {
            position: absolute;
            left: 9.05%;
            top: 11.74%;
            font-family: $fonttitle;
            font-size: 3.55vw;
            font-style: italic;
            color: $bluecolor;

            @media screen and (max-width: 960px) {
                font-size: 8vw;
                top: 17%;
                left: 12%;

                span {
                    display: block;
                }
            }
        }

        button {
            font-family: $fontbody;
            font-size: 0.85vw;
            color: $whitecolor;
            padding: 0.34vw 0.69vw;
            border: none;
            border-radius: 10px;
            width: 20%;
            background-color: $bluecolor;
            align-self: center;
            filter: drop-shadow(2px 2px 2px $goldcolor);
            transition: $transition;

            &:hover {
                filter: drop-shadow(5px 5px 5px $goldcolor);
            }



            @media screen and (max-width:960px) {
                padding: 1vw;
                font-size: 3vw;
                width: 38.5vw;
            }
        }

        &--form {
            position: absolute;
            left: 9.05%;
            top: 38%;
            display: flex;
            flex-direction: column;
            gap: 1.38vw;
            width: 40%;
            margin: 0 auto;
            font-size: 0.85vw;
            font-family: $fontbody;
            color: $blackcolor;

            @media screen and (max-width: 960px) {
                font-size: 3vw;
                top: 42%;
                left: 50%;
                transform: translateX(-50%);
                width: 77%;
            }
        }

        &--group {
            display: flex;
            flex-direction: column;
            gap: 0.69vw;

            label {
                font-weight: 600;
                color: $bluecolor;
            }

            input,
            textarea {
                padding: 0.34vw 0.69vw;
                outline: none;
                border: 2px solid $bluecolor;
                border-radius: 10px;
                font-size: 1.38vw;
                color: $blackcolor;
                font-family: $fontbody;
                font-style: italic;
                font-weight: 500;
                transition: $transition;

                &:focus {
                    border-color: $goldcolor;
                }

                &:not(:placeholder-shown) {
                    background-color: $azurecolor;
                }

                @media screen and (max-width:960px) {
                    padding: 1vw;
                    font-size: 3vw;
                }
            }

        }
    }

    &__spiral {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @media screen and (max-width: 960px) {
            height: auto;
            width: 100%;
            aspect-ratio: $golden-inverse;
            margin: 0 $main-margin;
        }

        &--image {
            width: auto;
            height: 100%;

            @media screen and (max-width: 960px) {
                @include spiral__transformation;
            }
        }
    }
}