@use "../../styles/variables" as *;

.contact {
    background-color: $whitecolor;
    font-family: $fontbody;
    height: 90vh;

    @media screen and (max-width: 960px) {
        height: 100vh;
    }

    &__content {
        @include content;
    }

    &__container {
        @include container;
    }

    &__text {

        h1 {
            position: absolute;
            left: 9.05%;
            top: 11.74%;
            font-family: $fonttitle;
            font-size: $sizeh1;
            font-style: italic;
            color: $bluecolor;
            text-shadow: $shadow2px;
            transition: $transition;
            cursor: default;

            &:hover {
                color: $goldcolor;
                transform: scale(1.1);
                text-shadow: none;
            }

            @media screen and (max-width: 960px) {
                font-size: 8vw;
                top: 17%;
                left: 12%;
                text-shadow: none;

                span {
                    display: block;
                }
            }
        }

        button {
            font-family: $fontbody;
            font-size: 0.85vw;
            color: $whitecolor;
            padding: 0.34vw 0.69vw;
            border: none;
            border-radius: 10px;
            width: 20%;
            background-color: $bluecolor;
            align-self: center;
            cursor: pointer;
            filter: drop-shadow($shadow2px);
            transition: $transition;

            &:hover {
                filter: drop-shadow($shadow5px);
            }

            @media screen and (max-width:960px) {
                padding: 1vw;
                font-size: 3vw;
                width: 38.5vw;
            }
        }

        &--form {
            position: absolute;
            left: 9.05%;
            top: 38%;
            display: flex;
            flex-direction: column;
            gap: $sizebody;
            width: 40%;
            margin: 0 auto;
            font-size: 0.85vw;
            font-family: $fontbody;
            color: $blackcolor;

            @media screen and (max-width: 960px) {
                font-size: 3vw;
                top: 42%;
                left: 50%;
                transform: translateX(-50%);
                width: 77%;
            }
        }

        &--group {
            display: flex;
            flex-direction: column;
            gap: 0.69vw;

            label {
                font-weight: 600;
                color: $bluecolor;
            }

            input,
            textarea {
                padding: 0.34vw 0.69vw;
                outline: none;
                border: 2px solid $bluecolor;
                border-radius: 10px;
                background-color: $whitecolor;
                font-size: $sizebody;
                color: $blackcolor;
                font-family: $fontbody;
                font-style: italic;
                font-weight: 500;
                transition: $transition;

                &:focus {
                    border-color: $goldcolor;
                }

                &:valid {
                    background-color: $azurecolor;
                }

                @media screen and (max-width:960px) {
                    padding: 1vw;
                    font-size: 3vw;
                }
            }

        }

        &--thanks {

            position: absolute;
            top: 38%;
            left: 9.05%;
            width: 50%;
            background-color: $azurecolor;
            height: 12vh;
            box-shadow: $shadow2px;

            @media screen and (max-width: 960px) {
                top: 42%;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
            }

            h2 {
                position: absolute;
                left: 2%;
                top: 5%;
                font-family: $fonttitle;
                color: $bluecolor;
                font-size: 3vw;
                font-style: italic;
                text-align: left;

                @media screen and (max-width: 960px) {
                    font-size: 6vw;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                }
            }

            img {
                height: 1.7vw;
                position: absolute;
                top: 5%;
                right: 2%;
                cursor: pointer;

                @media screen and (max-width: 960px) {
                    height: 2.5vw;
                }

            }
        }
    }

    &__spiral {
        @include spiral_shape;

        &--image {
            width: auto;
            height: 100%;

            @media screen and (max-width: 960px) {
                @include spiral__transformation;
            }
        }
    }
}