@use "../../styles/variables" as *;

.home {
    background-color: $bluecolor;
    font-family: $fontbody;
    height: 90vh;

    @media screen and (max-width: 960px) {
        height: 100vh;
    }

    &__content {
        @include content;
    }

    &__container {
        @include container;
    }

    &__spiral {
        @include spiral_shape;

        &--image {
            width: auto;
            height: 100%;

            @media screen and (max-width: 960px) {
                @include spiral__transformation--home;
            }
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        z-index: 3;

        h1 {
            position: absolute;
            top: 11.74%;
            left: 9.05%;
            font-family: $fonttitle;
            font-style: italic;
            font-size: $sizeh1;
            color: $whitecolor;
            text-shadow: $shadow2px;
            transition: $transition;
            cursor: default;

            &:hover {
                color: $goldcolor;
                transform: scale(1.1);
                text-shadow: none;
            }

            @media screen and (max-width: 960px) {
                font-size: 13vw;
                top: 13.14%;
                left: 8%;
                text-shadow: none;
            }
        }

        h2 {
            position: absolute;
            top: 51.98%;
            left: 18.06%;
            font-size: $sizeh2;
            font-weight: 600;
            color: $azurecolor;

            @media screen and (max-width: 960px) {
                font-size: 8vw;
                top: 46.70%;
                left: 30.76%;
            }
        }

        h3 {
            position: absolute;
            top: 66.5%;
            left: 27.07%;
            font-size: $sizebody;
            font-weight: 500;
            color: $azurecolor;

            @media screen and (max-width: 960px) {
                font-size: 5vw;
                top: 71%;
                left: 47.45%;
                max-width: 43.2%;
                text-align: center;
                text-wrap: wrap;
            }
        }
    }
}