@use "../../styles/variables" as *;

.header {
    background-color: $whitecolor;
    height: 10vh;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: 15vh;
    }

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        &--image {
            height: 10vh;
            padding-left: 60px;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
        align-items: center;
        padding-right: 60px;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &--item {
            color: $blackcolor;
            text-decoration: none;
            font-family: $fontbody;
            font-weight: 500;
            font-size: 16px;
            transition: all 0.3s ease-out;
            text-wrap: nowrap;

            @media screen and (max-width: 1224px) {
                font-size: 14px;
            }

            &:hover {
                color: $bluecolor;
                transform: scale(1.1);
                font-weight: 600;
            }

            &.active {
                color: $bluecolor;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}