@use "../../styles/variables" as *;



.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: $whitecolor;
    max-width: 1440px;
    height: 10vh;

    @media screen and (max-width: 768px) {
        height: 15vh;
    }

    &__logo {

        &--image {
            height: 91px;
            width: auto;
            padding-left: 100px;

            @media screen and (max-width: 1224px) {
                height: 96px;
            }

            @media screen and (max-width: 768px) {
                height: 90px;
            }
        }

    }

    &__links {
        display: flex;
        width: 100%;
        max-width: 475px;
        justify-content: space-between;
        align-items: center;
        padding-right: 100px;

        @media screen and (max-width: 1224px) {
            max-width: 377px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        &--item {
            color: $blackcolor;
            text-decoration: none;
            font-family: $fontbody;
            font-weight: 500;
            font-size: 16px;
            transition: color 0.3s;

            @media screen and (max-width: 1224px) {
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                color: $bluecolor;
                font-weight: 600;
            }
        }
    }
}