@import "../../styles/variables"; // palette + fonts

.burger {

    &-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        padding-right: $main-margin;
        z-index: 2000;
        display: none;

        @media screen and (max-width: 912px) {
            display: block;
        }
    }

    &-icon {
        width: 22px;
        transition: transform 0.3s ease;

        &.open {
            transform: rotate(90deg);
        }
    }

    &-links {
        list-style: none;
        padding: 4rem 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 1rem 0;

            .burger-link {
                font-family: $fontbody;
                font-size: 14px;
                font-weight: 500;
                color: $blackcolor;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    color: $bluecolor;
                    font-weight: 600;
                }
            }
        }
    }

    &-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background: rgba(244, 247, 245, 0.7);
        z-index: 1500;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;

        &.open {
            opacity: 1;
            visibility: visible;
        }
    }
}