@use "../../styles/variables" as *;

.cv {
    background-color: $whitecolor;
    font-family: $fontbody;
    height: 90vh;

    @media screen and (max-width: 960px) {
        height: 100vh;
    }

    &__content {
        @include content;
    }

    &__container {
        @include container;
    }

    &__pdf {

        &--viewer {
            position: absolute;
            top: 47%;
            right: 2.5%;
            width: 33%;
            height: auto;

            @media screen and (max-width: 960px) {
                top: 5%;
                left: 5%;
                width: 50%;
            }
        }

        &--link {
            position: absolute;
            top: 90%;
            right: 2.5%;
            font-family: $fontbody;
            font-size: $sizebody;
            width: 33%;
            text-decoration: none;
            color: $bluecolor;
            transition: $transition;

            &:hover {
                color: $goldcolor;
            }

            @media screen and (max-width: 960px) {
                top: 32%;
                left: 5%;
                width: 50%;
                font-size: 3vw;
            }
        }
    }

    &__spiral {
        @include spiral_shape;

        &--image {
            width: auto;
            height: 100%;

            @media screen and (max-width: 960px) {
                @include spiral__transformation;
            }
        }
    }

    &__text {
        position: absolute;
        left: 2.5%;
        top: 5%;
        width: 56.8%;
        height: 90%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: $sizeh2;

        @media screen and (max-width: 960px) {
            left: 5%;
            top: 42%;
            width: 92%;
            height: 50%;
        }

        h1 {
            display: none;
        }

        h2 {
            font-family: $fonttitle;
            color: $bluecolor;
            font-size: $sizeh2;
            font-style: italic;
            text-align: left;
            text-shadow: $shadow2px;

            @media screen and (max-width: 960px) {
                font-size: 5vw;
                text-shadow: none;
            }
        }

        li,
        p {
            font-family: $fontbody;
            color: $blackcolor;
            font-size: $sizebody;
            text-align: left;

            @media screen and (max-width: 960px) {
                font-size: 3vw;
            }
        }

        &--bold {
            font-weight: 600;
        }

        &--italic {
            font-style: italic;
        }
    }
}